Assignment 2

Q.1 1. Write a program to reverse a string.

Ans.

In [1]:
def reverse_string(input_string):                                      # define a function and function name
    reversed_string=input_string[::-1]                                 # give variable to revese a string
    for char in reversed_string:                                       # start throgh a loop to iterate each char
        Rev= reversed_string
    return reversed_string

In [2]:
input_str = "Hello, World!"                                             # give a input
Rev = reverse_string(input_str)                                         # gives a output of reeverse string
print(Rev)

!dlroW ,olleH

Q.2  Check if a string is a palindrome.

Ans.

In [15]:
def palindrome(s):
    s=s.replace(" ","").lower()
    return s==s[::-1]

In [16]:
input_string="lol"
if palindrome(input_string):
    print(f"{input_string} is a palindrome")
else:
    print(f"{input_string}is not a palindrome")

lol is a palindrome

3. Convert a string to uppercase.

Ans.

In [4]:
get_input=input("Enter the string")

Enter the string jignesh rajput

In [5]:
input_string=get_input.upper()

In [7]:
print(f"the given string is {get_input} and the uppercase string is {input_string}")

the given string isjignesh rajput and the uppercase string isJIGNESH RAJPUT

4. Convert a string to lowercase.

Ans.

In [8]:
get_input=input("Enter the string")

Enter the string SAMARTH TOUR AND TRAVELS,NANDURBAR

In [9]:
input_string=get_input.lower()

In [10]:
print(f"the given string is {get_input} and the uppercase string is {input_string}")

the given string is SAMARTH TOUR AND TRAVELS,NANDURBAR and the uppercase string issamarth tour and travels,nandurbar

Q.5. Count the number of vowels in a string.

Ans.

In [9]:
def check_vowel(input_string):                                            # called a function name
    vowels="aeiouAEIOU"                                                   # define a vowels for counting
    count=0                                                               #define a 'count' for couting
    for char in input_string:
        if char in vowels:                                                # checked the char in vowels
            count+=1
    return count

In [24]:
input_string=input("enter the string :")                                 #count of vowels of this string
vowels_count=check_vowel(input_string)
print("the number of the vowels in the givenn string is",vowels_count)

enter the string : Jignesh is my best frined.

the number of the vowels in the givenn string is 6

6. Count the number of consonants in a string.

Ans.

In [6]:
def check_consonant(input_string):                                  #define a function
    vowels='aeiouAEIOU'                                             # define a vowels
    count=0                                                             
    for char in input_string:
        if char not in vowels:                                       # chhecked vowels in not in given string
            count+=1                                                 # count consonants except vowels
    return count

In [8]:
input_string=input("enter the string")                              # take a string from users
consonant=check_consonant(input_string)
print("the number of consonants in the given string is",consonant)    #print the final output

enter the string JAY SHREE KRISHNA

the number of consonants in the given string is 12

7. Remove all whitespaces from a string.

Ans.

In [5]:
input_string=" vasantrao naik is the longest CM of maharashtra"     # take a string
input_string.replace(" ","")                                        # remove all spaces

'vasantraonaikisthelongestCMofmaharashtra'

8. Find the length of a string without using the `len()` function.

Ans.

In [9]:
def length(string):                             # counting the length of the string with function
    count=0
    for char in string:
        count+=1                               # count function counnt the character of the string
    return count

In [11]:
string="compound effect"                     # given string
length=length(string)
print(' the length of the string is' , length)       # print the final output

 the length of the string is 15

9. Check if a string contains a specific word.

Ans.

In [1]:
input_string = input("Enter a string: ")              #take the input form the user

Enter a string:  the truth table is true and calculation js not right

In [2]:
# Word to check for
word_to_find = input("Enter the word to check for: ")

Enter the word to check for:  true

In [3]:
index = input_string.find(word_to_find)        # check the word by find function

In [5]:
if index != -1:
    print(f"The string contains the word '{word_to_find}' at index {index}.")
else:
    print(f"The string does not contain the word '{word_to_find}'.")

The string contains the word 'true' at index 19.

10. Replace a word in a string with another word.

Ans.

In [3]:
e=input("Enter the string :")                       # take a string from user

Enter the string : core python programe,pycharm and jupyter

In [4]:
j=input("Enter the word to replace")                # take a word to replace

Enter the word to replace jupyter

In [5]:
replacement=input("Enter the replacement word ")    # iterate the function to replace a word

Enter the replacement word  java

In [9]:
output_string=e.replace(j,replacement)              # function gives the output by replacing the word we gave to replace

In [10]:
print("the modified string is", output_string)

the modified string is core python programe,pycharm and java

11. Count the occurrences of a word in a string.

Ans.

In [8]:
input_string = input("Enter a string: ")                                      #take the input form the user

Enter a string:  harish is a good boy and he is very brilliant. harish is businessman

In [10]:
word_to_count = input("Enter the word to count: ")                            # also take the word to count the occurence

Enter the word to count:  harish

In [11]:
count = input_string.lower().count(word_to_count.lower())                     #counnt the occurence with this count function

In [12]:
print(f"The word '{word_to_count}' appears {count} times in the string.")

The word 'harish' appears 2 times in the string.

12. Find the first occurrence of a word in a string.

Ans.

In [28]:
def first_word(text,word):                                                 # check the occurence of the word by definin a function first_word
    index = text.find(word)
    if index == -1:
        return None
    else:
        return index

In [29]:
text='my vilage is very clean and beautiful.its surrounded by the satpuda hills'                  # given string

In [30]:
word='is'                                                                                # find  this  word in a text

In [31]:
result=print(f"the first occurence of the '{word}' is {first_word(text,word)}")

the first occurence of the 'is' is 10

13. Find the last occurrence of a word in a string.

Ans.

In [33]:
def first_word(text,word):                                               # check the occurence of the word by definin a function first_word
    index = text.find(word)
    index = text.rfind(word)
    if index == -1:
        return None
    else:
        return index

In [34]:
text='my vilage is very clean and beautiful. my village is surrounded by the satpuda hills'

In [35]:
word='is'

In [41]:
result=print(f"the first occurence of the '{word}' is {first_word(text,word)}")

the first occurence of the 'is' is 50

14. Split a string into a list of words.

Ans.

In [42]:
def word_list(string):
    text=string.split()
    return text
                                                                                       # word_list function take a string and split the string by split in built function

In [43]:
string="this is the given string by the users"
o_string=word_list(string)
print("the splitted string is ",o_string)

the splitted string is  ['this', 'is', 'the', 'given', 'string', 'by', 'the', 'users']

15. Join a list of words into a string.

Ans.

In [2]:
word_list=['jignesh','123','harish','pranav']                       # define a word of a list

In [3]:
out_string=" ".join(word_list)                                     # this function is convert the list into the string

In [6]:
out_string                                                         # final output

'jignesh 123 harish pranav'

In [8]:
type(out_string)

str

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

Ans.

In [1]:
My_string= "MY NAME IS JIGNESH RAJPUT"                        #this is given string
replace=My_string.replace(" ","_")                            # this function gives a output which replace the spaces into the underscore

In [2]:
print(replace)                                                #print the function

MY_NAME_IS_JIGNESH_RAJPUT

17. Check if a string starts with a specific word or phrase.

Ans.

In [1]:
My_string="Hello, Good Morning friend Have a nice day"         #given string

In [9]:
specific_phrase="Hello"                                     # call the starting word

In [12]:
if My_string.startswith(specific_phrase):
    print(f"The String Starts With Specific Word'{specific_phrase}'.")
else:
    print(f"The String does not Starts With Specific Word '{specific_phrase}' . ")            # check with if else condition

The String Starts With Specific Word'Hello'.

18. Check if a string ends with a specific word or phrase.

Ans.

In [13]:
My_string="Hello, Good Morning friend Have a nice day"                  #given string

In [17]:
specific_phrase="day"                                       # call the starting word

In [18]:
if My_string.endswith(specific_phrase):
    print(f"The String Starts With Specific Word'{specific_phrase}'.")
else:
    print(f"The String does not Starts With Specific Word '{specific_phrase}' . ")   # check with if else condition

The String Starts With Specific Word'day'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

Ans.

In [20]:
input_string=input("enter the string")                                 # take a 'hello world' input form the user

enter the string hello world

In [23]:
input_string.title()                                                # convert the string 'hello world' into 'Hello World' by title inbuilt function

'Hello World'

20. Find the longest word in a string.

Ans.

In [1]:
                                        # given string to find the longest word

In [7]:
def find_longest_word(input_string):
    words=input_string.split()
    longest_word=" "
    max_length=0
    for word in words:
        word=word.strip(".,!?")
        if len(word) > max_length:
            longest_word=word
            max_length=len(word)
    return longest_word

In [9]:
input_string='mercedes bens is top class car in the world' 
longest_word=find_longest_word(input_string)
print(f"The longest word in the string is '{longest_word}' with a length of {len(longest_word)} characters.")

The longest word in the string is 'mercedes' with a length of 8 characters.

21. Find the shortest word in a string.

Ans.

In [1]:
def find_shortest_word(input_string):
                                                            # Split the input string into words using space as the separator
    words = input_string.split()

                                                            # Initialize variables to store the shortest word and its length
    shortest_word = None
    min_length = float('inf')

                                                             # Iterate through the words and find the shortest one
    for word in words:
                                                             # Remove any punctuation marks from the word (optional)
        word = word.strip(".,!?")

                                                             # Check if the current word is shorter than the previously found shortest word
        if len(word) < min_length:
            shortest_word = word
            min_length = len(word)

    return shortest_word

input_string = "This is a sample sentence with some short words like 'cat' and 'dog'."

shortest_word = find_shortest_word(input_string)

if shortest_word:
    print(f"The shortest word in the string is '{shortest_word}' with a length of {len(shortest_word)} characters.")
else:
    print("No words found in the string.")

22. Reverse the order of words in a string.

Ans.

In [39]:
inpt_string=input("Enter the  string that you want to reverse")           #take a string from users
split_words=inpt_string.split()                                           # split the string

Enter the  string that you want to reverse hello i am jignesh

In [40]:
reverse_word=split_words[::-1]                                            #then reverse the spliting of words

In [41]:
reverse=" ".join(reverse_word)                                            # reverse order of a words join in empty string
reverse

'jignesh am i hello'

23. Check if a string is alphanumeric.

Ans.

In [50]:
stri="jignsh123"                                                           # take a string
result=stri.isalnum()                                                     # check a string that is aplhanumeric or not with the help of isalnum()

In [56]:
if result:
    print(f"The given string '{stri}' is alphanumric . ")
else:
    print(f"The given string '{stri}' is not alphanumeric . ")               # print the final output

The given string 'jignsh123' is alphanumric .

24. Extract all digits from a string.

Ans.

In [2]:
def extract_digits(input_string):     #make a function 
    digits = ""
    for char in input_string:         # check the given string have  a digit or not
        if char.isdigit():
            digits += char
    return digits                    # return digit

In [3]:
input_string = "Hello, my phone number is 123-456-7890."
digits = extract_digits(input_string)
print(digits)  #result

1234567890

25. Extract all alphabets from a string.

Ans.

In [9]:
def extract_alphabet(input_string):     #make a function 
    alphabet = ""
    for char in input_string:         # check the given string have  a digit or not
        if char.isalpha():
            alphabet += char
    return alphabet                    # return digit

In [10]:
input_string = "Hello, MMy phone number is 123-456-7890."
alphabet = extract_alphabet(input_string)
print(alphabet)

HelloMMyphonenumberis

26. Count the number of uppercase letters in a string.

Ans.

In [12]:
#count the uppercase
def number_uppercase(input_string):
    count=0
    for char in input_string:
        if char.isupper():
            count += 1
    return count

In [13]:
input_string= 'My Name Is Jignesh'

In [15]:
count=number_uppercase(input_string)
print("the number of the uppercase is ",count)

the number of the uppercase is  4

27. Count the number of lowercase letters in a string.

Ans.

In [16]:
def number_lowercase(input_string):
    count=0
    for char in input_string:
        if char.islower():
            count += 1
    return count

In [17]:
input_string= 'My Name Is Jignesh'

In [18]:
count=number_lowercase(input_string)
print("the number of the lowecase is ",count)

the number of the lowecase is  11

28. Swap the case of each character in a string.

Ans.

In [19]:
def swap_case(input_string):
    swapped_string=input_string.swapcase()
    return swapped_string

In [21]:
input_string='HEllo Brothers,GOOD MORNING'
swapped_result=swap_case(input_string)
print(swapped_result)

heLLO bROTHERS,good morning

29. Remove a specific word from a string.

Ans.

In [23]:
def remove_word(input_string, word_to_remove):
    # Use str.replace() to replace the word with an empty string
    modified_string = input_string.replace(word_to_remove, "")
    return modified_string

In [24]:
input_string = "Hello, this is an example sentence."
word_to_remove = "example"
result = remove_word(input_string, word_to_remove)
print(result)

Hello, this is an  sentence.

30. Check if a string is a valid email address.

Ans.

In [3]:
def is_valid_email(email):
    # Check for the presence of '@' and '.'
    if '@' in email and '.' in email:
        # Check that there is only one '@' character
        if email.count('@') == 1:
            # Split the email into parts before and after '@'
            username, domain = email.split('@')

            # Check that both parts have at least one character
            if username and domain:
                # Check that the domain part contains at least one dot
                if '.' in domain:
                    return True 
                
    

    return False

In [4]:
email = "example@email.com"
if is_valid_email(email):
    print("Valid email address")
else:
    print("Invalid email address")

Valid email address


31. Extract the username from an email address string.

Ans.

In [2]:
def extract_username(email):
    if "@" and "." in email:
        if email.count('@')==1:
            username,domain=email.split('@')
            return username
    else:
        return False

In [4]:
email='jignesh89@gmail.com'
find_username=extract_username(email)
print(find_username)

jignesh89

32. Extract the domain name from an email address string.

Ans.

In [6]:
def extract_username(email):
    if "@" and "." in email:
        if email.count('@')==1:
            username,domain=email.split('@')
            return domain
    else:
        return False

In [9]:
email='jignesh89@gmail.com'
find_username=extract_username(email)
print(find_username)

gmail.com

33. Replace multiple spaces in a string with a single space.

Ans.

In [13]:
def multi_spaces(input_string):
    splitting= input_string.split()
    right_string=' '.join(splitting)
    return right_string

input_string= 'this    is       mty first      blog'
single_space=multi_spaces(input_string)
print(single_space)

this is mty first blog

34. Check if a string is a valid URL.

Ans.

In [18]:
def is_valid_url(url):
                                                                                # Check if the URL starts with a valid scheme (http, https, or ftp)
    if url.startswith("http://") or url.startswith("https://") or url.startswith("ftp://"):
                                                                                # Check if there are no spaces in the URL
        if " " not in url:
            return True

    return False

# Example usage:
url = "https://www.example.com"
if is_valid_url(url):
    print(f"{url} is a valid URL.")
else:
    print(f"{url} is not a valid URL.")

https://www.example.com is a valid URL.

35. Extract the protocol (http or https) from a URL string.

Ans.

In [30]:
def extract_protocol(url):
    # Check if the URL starts with 'https://'
    if url.startswith('https://'):
        return 'https'
    # Check if the URL starts with 'http://'
    elif url.startswith('http://'):
        return 'http'
    # If neither http nor https is found, return None to indicate an invalid protocol
    else:
        return None

In [31]:
url = "https://www.example.com"
protocol = extract_protocol(url)

if protocol:
    print(f"Protocol: {protocol}")
else:
    print("Invalid URL or unsupported protocol.")

Protocol: https

36. Find the frequency of each character in a string.

Ans.

In [2]:
def character_frequency(string):
    # Create an empty dictionary to store character counts
    char_count = {}

    # Iterate through the string
    for char in string:
        # Check if the character is already in the dictionary
        if char in char_count:
            # If it is, increment the count
            char_count[char] += 1
        else:
            # If it's not, initialize the count to 1
            char_count[char] = 1

    return char_count

In [3]:

input_string = "hello, world!"
frequency = character_frequency(input_string)

for char, count in frequency.items():
    print(f"'{char}' occurs {count} times.")

'h' occurs 1 times.
'e' occurs 1 times.
'l' occurs 3 times.
'o' occurs 2 times.
',' occurs 1 times.
' ' occurs 1 times.
'w' occurs 1 times.
'r' occurs 1 times.
'd' occurs 1 times.
'!' occurs 1 times.

37. Remove all punctuation from a string.

Ans.

In [37]:
import string
def remove_punctuation(input_string):
    # Create a translation table that maps all punctuation characters to None
    translator = str.maketrans('', '', string.punctuation)
    
    # Use the translate method to remove the punctuation
    cleaned_string = input_string.translate(translator)
    
    return cleaned_string

# Example usage:
input_string = "Hello, World! This is an example string."
cleaned_string = remove_punctuation(input_string)
print(cleaned_string)

Hello World This is an example string

In [39]:
def remove_punctuation(input_string):
    # Define a set of punctuation characters
    punctuation = set(".,!?;:-'\"()[]{}")

    # Create a new string with punctuation characters removed
    cleaned_string = ''.join(char for char in input_string if char not in punctuation)

    return cleaned_string

In [ ]:
input_string = "Hello, World! This is an example string."

In [ ]:
cleaned_string = remove_punctuation(input_string)

In [40]:
print(cleaned_string)

Hello World This is an example string

38. Check if a string contains only digits.

Ans.

In [41]:
def contains_only_digits(input_string):
    return input_string.isdigit()

In [42]:
string1 = "12345"
string2 = "123abc"

In [43]:
if contains_only_digits(string1):
    print(f"'{string1}' contains only digits.")
else:
    print(f"'{string1}' does not contain only digits.")

if contains_only_digits(string2):
    print(f"'{string2}' contains only digits.")
else:
    print(f"'{string2}' does not contain only digits.")

'12345' contains only digits.
'123abc' does not contain only digits.

39. Check if a string contains only alphabets.

Ans.

In [ ]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

In [ ]:
string1 = "Hello"
string2 = "Hello123"

In [ ]:
if contains_only_alphabets(string1):
    print(f"'{string1}' contains only alphabets.")
else:
    print(f"'{string1}' does not contain only alphabets.")

if contains_only_alphabets(string2):
    print(f"'{string2}' contains only alphabets.")
else:
    print(f"'{string2}' does not contain only alphabets.")

40. Convert a string to a list of characters.

Ans.

In [44]:
my_string = "Hello, World!"
char_list = list(my_string)
print(char_list)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

41. Check if two strings are anagrams

ANS.

In [48]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if lengths are the same
    if len(str1) != len(str2):
        return False

    # Sort and compare the strings
    return sorted(str1) == sorted(str2)

In [49]:
string1 = "listen"
string2 = "silent"
if are_anagrams(string1, string2):
    print(f"'{string1}' and '{string2}' are anagrams.")
else:
    print(f"'{string1}' and '{string2}' are not anagrams.")

'listen' and 'silent' are anagrams.

42. Encode a string using a Caesar cipher.

Ans.

In [50]:
def caesar_cipher(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():  # Check if the character is a letter
            is_upper = char.isupper()  # Check if the letter is uppercase
            char = char.lower()  # Convert to lowercase for shifting
            shifted = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            if is_upper:
                shifted = shifted.upper()  # Convert back to uppercase if original was uppercase
            encrypted_text += shifted
        else:
            encrypted_text += char  # Non-alphabetic characters remain unchanged

    return encrypted_text

In [51]:
# Example usage:
plaintext = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher(plaintext, shift)
print("Original: ", plaintext)
print("Encrypted: ", encrypted_text)

Original:  Hello, World!
Encrypted:  Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

Ans.

In [52]:
def caesar_decipher(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():  # Check if the character is a letter
            is_upper = char.isupper()  # Check if the letter is uppercase
            char = char.lower()  # Convert to lowercase for shifting
            shifted = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            if is_upper:
                shifted = shifted.upper()  # Convert back to uppercase if original was uppercase
            decrypted_text += shifted
        else:
            decrypted_text += char  # Non-alphabetic characters remain unchanged

    return decrypted_text

In [53]:
encrypted_text = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_decipher(encrypted_text, shift)
print("Encrypted: ", encrypted_text)
print("Decrypted: ", decrypted_text)

Encrypted:  Khoor, Zruog!
Decrypted:  Hello, World!

44. Find the most frequent word in a string.

Ans.

In [1]:
from collections import Counter

def most_frequent_word(text):
    words = text.split()  # Split the input text into words
    word_count = Counter(words)  # Count the frequency of each word
    most_common_word, frequency = word_count.most_common(1)[0]  # Get the most common word and its frequency
    return most_common_word, frequency

In [2]:
input_text = "This is a sample string with some sample words. This string contains some repeated words like sample and some."
most_common, frequency = most_frequent_word(input_text)
print(f"The most frequent word is '{most_common}' with a frequency of {frequency}.")

The most frequent word is 'sample' with a frequency of 3.

45. Find all unique words in a string

Ans.

In [3]:
def unique_words(text):
    words = text.split()  # Split the input text into words
    unique_words = set(words)  # Use a set to store unique words
    return unique_words

In [4]:
input_text = "This is a sample string with some sample words. This string contains some repeated words like sample and some."
unique_words_set = unique_words(input_text)
print("Unique words in the string:")
for word in unique_words_set:
    print(word)

Unique words in the string:
like
string
with
some
words.
is
and
repeated
This
sample
words
a
contains
some.

46. Count the number of syllables in a string.

Ans.

In [7]:
def count_syllables(word):
                                                                 # Convert the word to lowercase for consistent handling of vowels
    word = word.lower()
    
                                                                 # Initialize variables to count syllables and track if the previous character was a vowel
    syllable_count = 0
    prev_char_was_vowel = False
    
                                                                  # Define a set of vowels
    vowels = {'a', 'e', 'i', 'o', 'u'}
     
                                                                 # Loop through each character in the word
    for char in word:
        if char in vowels:
                                                                 # If the current character is a vowel and the previous character was not, it's a new syllable
            if not prev_char_was_vowel:
                syllable_count += 1
            prev_char_was_vowel = True
        else:
            prev_char_was_vowel = False
    
                                                                # Handling cases where 'e' at the end is silent
    if word.endswith('e') and syllable_count > 1:
        syllable_count -= 1

                                                                # Ensure there's at least one syllable
    if syllable_count == 0:
        syllable_count = 1
    
    return syllable_count

In [8]:
word = "example"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'example' has 2 syllables.

47. Check if a string contains any special characters.

Ans.

In [1]:
def contains_special_characters(input_string):
    allowed_characters = set("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 ")
    
    for char in input_string:
        if char not in allowed_characters:
            return True  # Special character found
    
    return False  # No special characters found

# Example usage:
text = "Hello, this is a sample text with special characters like @ and $."
if contains_special_characters(text):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

48. Remove the nth word from a string.

Ans.

In [3]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is a valid index
    if 1 <= n <= len(words):
        # Remove the nth word
        del words[n - 1]

        # Join the remaining words back into a string
        result = ' '.join(words)

        return result
    else:
        # Return the original string if n is out of bounds
        return input_string

# Example usage:
input_string = "This is an example sentence to demonstrate word removal."
n = 3  # Remove the third word (in this case, "an")
new_string = remove_nth_word(input_string, n)
print(new_string)

This is example sentence to demonstrate word removal.

49. Insert a word at the nth position in a string.

Ans.

In [1]:
def insert_word_at_nth_position(input_string, word_to_insert, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is a valid position (1 to len(words) + 1)
    if 1 <= n <= len(words) + 1:
        # Insert the word at the specified position
        words.insert(n - 1, word_to_insert)

        # Join the words back into a string
        result = ' '.join(words)

        return result
    else:
        # If n is out of bounds, append the word at the end of the string
        return input_string + ' ' + word_to_insert

In [2]:
input_string = "This is an example sentence."
word_to_insert = "new"
n = 3  # Insert the word "new" at the third position
new_string = insert_word_at_nth_position(input_string, word_to_insert, n)
print(new_string)

This is new an example sentence.

50. Convert a CSV string to a list of lists.

Ans.

In [4]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Create a StringIO object to simulate a file-like object
    csv_file = StringIO(csv_string)

    # Initialize a CSV reader
    csv_reader = csv.reader(csv_file)

    # Read the CSV data into a list of lists
    data = [row for row in csv_reader]

    return data

# Example usage:
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
csv_data = csv_string_to_list(csv_string)
for row in csv_data:
    print(row)

['1', 'John', 'Doe']
['2', 'Jane', 'Smith']
['3', 'Bob', 'Johnson']

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

Ans.

In [5]:
my_list = []
for i in range(1, 11):
    my_list.append(i)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

Ans.

In [7]:
def find_list_length(my_list):
    length = 0
    for _ in my_list:
        length += 1
    return length

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length = find_list_length(my_list)
print("The length of the list is:", length)

The length of the list is: 10

3. Append an element to the end of a list.

Ans.

In [8]:
my_list = [1, 2, 3, 4, 5]
element_to_append = 6
my_list.append(element_to_append)
print(my_list)

[1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list.

Ans.

In [10]:
my_list = [1, 2, 3, 4, 5]
element_to_insert = 6
index_to_insert = 2  # The index at which you want to insert the element

my_list.insert(index_to_insert, element_to_insert)
print(my_list)

[1, 2, 6, 3, 4, 5]

5. Remove an element from a list by its value.

Ans.

In [ ]:
my_list = [1, 2, 3, 4, 5]
element_to_remove = 3  # The element you want to remove

In [ ]:
if element_to_remove in my_list:
    my_list.remove(element_to_remove)
    print("Element removed:", element_to_remove)
else:
    print("Element not found in the list.")

In [11]:
print(my_list)

[1, 2, 6, 3, 4, 5]

6. Remove an element from a list by its index.

Ans.

In [ ]:
my_list = [1, 2, 3, 4, 5]
index_to_remove = 2  # The index of the element you want to remove

if 0 <= index_to_remove < len(my_list):
    my_list = my_list[:index_to_remove] + my_list[index_to_remove + 1:]
    print(my_list)
else:
    print("Index is out of bounds.")

7. Check if an element exists in a list.

Ans.

In [13]:
def element_exists(my_list, element_to_check):
    for item in my_list:
        if item == element_to_check:
            return True
    return False

In [14]:
my_list = [1, 2, 3, 4, 5]
element_to_check = 3

if element_exists(my_list, element_to_check):
    print("Element", element_to_check, "exists in the list.")
else:
    print("Element", element_to_check, "does not exist in the list.")

Element 3 exists in the list.

8. Find the index of the first occurrence of an element in a list.

Ans.

In [15]:
my_list = [1, 2, 3, 4, 5, 3]
element_to_find = 3

if element_to_find in my_list:
    index = my_list.index(element_to_find)
    print("The first occurrence of", element_to_find, "is at index:", index)
else:
    print("Element not found in the list.")

The first occurrence of 3 is at index: 2

9. Count the occurrences of an element in a list.

Ans.

In [16]:
my_list = [1, 2, 3, 4, 5, 3]
element_to_count = 3

count = my_list.count(element_to_count)
print("The element", element_to_count, "appears", count, "times in the list.")

The element 3 appears 2 times in the list.

10. Reverse the order of elements in a list.

Ans.

In [17]:
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

11. Sort a list in ascending order.

Ans.

In [18]:
my_list = [5, 1, 3, 2, 4]
sorted_list = sorted(my_list)
print(sorted_list)

[1, 2, 3, 4, 5]

12. Sort a list in descending order.

Ans.

In [19]:
my_list = [5, 1, 3, 2, 4]
sorted_list = sorted(my_list, reverse=True)
print(sorted_list)

[5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

Ans.

In [20]:
even_numbers = [i for i in range(2, 21, 2)]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

Ans.

In [21]:
odd_numbers = [i for i in range(1, 21) if i % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

Ans.

In [22]:
my_list = [1, 2, 3, 4, 5]
total_sum = sum(my_list)
print("The sum of all elements in the list is:", total_sum)

The sum of all elements in the list is: 15

16. Find the maximum value in a list.

Ans.

In [23]:
my_list = [4, 7, 1, 9, 3, 6]
max_value = max(my_list)
print("The maximum value in the list is:", max_value)

The maximum value in the list is: 9

17. Find the minimum value in a list.

Ans.

In [24]:
my_list = [4, 7, 1, 9, 3, 6]
min_value = min(my_list)
print("The minimum value in the list is:", min_value)

The minimum value in the list is: 1

18. Create a list of squares of numbers from 1 to 10.

Ans.

In [25]:
squares = [i ** 2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random num

Ans.

In [26]:
def custom_random(seed, n, a, c, m):
    numbers = []
    for _ in range(n):
        seed = (a * seed + c) % m
        numbers.append(seed)
    return numbers

# Parameters for the Linear Congruential Generator
seed = 42
n = 10  # Generate 10 random numbers
a = 1664525
c = 1013904223
m = 2**32

random_numbers = custom_random(seed, n, a, c, m)
print(random_numbers)

[1083814273, 378494188, 2479403867, 955863294, 1613448261, 110225632, 1921058495, 508781842, 3753001289, 4271921684]

In [27]:
import random

# Generate a list of 10 random integers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(10)]
print(random_numbers)

[35, 73, 72, 69, 90, 49, 40, 58, 36, 72]

20. Remove duplicates from a list.

Ans.

In [ ]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(original_list))
print(unique_list)

21. Find the common elements between two lists.

Ans

In [28]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = []
for item in list1:
    if item in list2:
        common_elements.append(item)
print(common_elements)

[3, 4, 5]

22. Find the difference between two lists.

Ans.

In [29]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
difference = list(set(list1).difference(list2))
print(difference)

[1, 2]

23. Merge two lists.

Ans.

In [30]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

Ans.

In [ ]:
original_list = [1, 2, 3, 4, 5]
for i in range(len(original_list)):
    original_list[i] *= 2
print(original_list)

25. Filter out all even numbers from a list.

Ans.

In [2]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
filtered_list = []
for x in original_list:
    if x % 2 != 0:
        filtered_list.append(x)
print(filtered_list)

[1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

Ans.

In [6]:
string_list = ["1", "2", "3", "4", "5"]
integer_list = list(map(int, string_list))
print(integer_list)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

Ans.

In [5]:
integer_list = [1, 2, 3, 4, 5]
string_list = [str(x) for x in integer_list]
print(string_list)

['1', '2', '3', '4', '5']

28. Flatten a nested list.

Ans.

In [7]:
def flatten_list(nested_list):
    flattened = []
    for i in nested_list:
        if isinstance(i, list):
            flattened.extend(flatten_list(i))
        else:
            flattened.append(i)
    return flattened

nested_list = [1, [2, 3], [4, [5, 6]], 7]
flattened_list = flatten_list(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7]

29. Create a list of the first 10 Fibonacci numbers.

Ans.

In [8]:
# Function to generate the first 10 Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        next_number = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_number)
    return fibonacci_list

# Generate the first 10 Fibonacci numbers
first_10_fibonacci = generate_fibonacci(10)

# Print the list
print(first_10_fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

Ans.

In [9]:
def is_sorted(input_list):
    for i in range(len(input_list) - 1):
        if input_list[i] > input_list[i + 1]:
            return False
    return True

# Example usage:
my_list = [1, 2, 3, 4, 5]
if is_sorted(my_list):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

31. Rotate a list to the left by `n` positions.

Ans.

In [10]:
def rotate_left(lst, n):
    if not lst:
        return lst  # If the list is empty, return it as it is

    n = n % len(lst)  # Ensure n is within the length of the list
    return lst[n:] + lst[:n]

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate left
rotated_list = rotate_left(my_list, n)
print(rotated_list)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

Ans.

In [11]:
def rotate_right(lst, n):
    if not lst:
        return lst  # If the list is empty, return it as it is

    n = n % len(lst)  # Ensure n is within the length of the list
    return lst[-n:] + lst[:-n]

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate right
rotated_list = rotate_right(my_list, n)
print(rotated_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

Ans.

In [12]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def generate_primes_up_to_n(n):
    prime_list = [2, 3]
    for num in range(5, n + 1, 6):
        if is_prime(num):
            prime_list.append(num)
        if is_prime(num + 2):
            prime_list.append(num + 2)
    return prime_list

# Generate prime numbers up to 50
primes_up_to_50 = generate_primes_up_to_n(50)

print(primes_up_to_50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

Ans.

In [13]:
def split_list_into_chunks(input_list, chunk_size):
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
chunks = split_list_into_chunks(my_list, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

Ans.

In [15]:
def find_second_largest(numbers):
    if len(numbers) < 2:
        return None  # There is no second largest number in a list with less than two elements

    largest = second_largest = float('-inf')  # Initialize both largest and second largest to negative infinity

    for num in numbers:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num != largest:
            second_largest = num

    return second_largest

In [16]:

my_list = [4, 2, 9, 7, 5, 8]
second_largest = find_second_largest(my_list)
if second_largest is not None:
    print("The second largest number is:", second_largest)
else:
    print("There is no second largest number in the list.")

The second largest number is: 8

36. Replace every element in a list with its square.

Ans.

In [17]:
original_list = [1, 2, 3, 4, 5]

squared_list = [x ** 2 for x in original_list]

print(squared_list)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

Ans.

In [18]:
my_list = ["apple", "banana", "cherry", "date"]

my_dict = {element: index for index, element in enumerate(my_list)}

print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

38. Shuffle the elements of a list randomly.

Ans.

In [19]:
import random

my_list = [1, 2, 3, 4, 5]

# Shuffle the list randomly
random.shuffle(my_list)

print(my_list)

[1, 4, 2, 3, 5]

39. Create a list of the first 10 factorial numbers.

Ans.

In [20]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

37. Create a tuple of random numbers.

Ans.

In [1]:
import random

# Generate a tuple of 5 random numbers between 1 and 100
random_numbers = tuple(random.randint(1, 100) for _ in range(5))

print(random_numbers)

(31, 73, 94, 95, 74)

38. Check if a tuple is sorted.

Ans.

In [2]:
def is_sorted(t):
    return all(t[i] <= t[i + 1] for i in range(len(t) - 1))

# Example usage:
my_tuple = (1, 2, 3, 4, 5)
if is_sorted(my_tuple):
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

39. Rotate a tuple to the left by `n` positions.

Ans.

In [3]:
def rotate_tuple_left(t, n):
    if not t:
        return t  # Return an empty tuple if the input tuple is empty
    n = n % len(t)  # Ensure n is within the range of the tuple length
    return t[n:] + t[:n]

# Example usage:
my_tuple = (1, 2, 3, 4, 5)
n = 2  # Rotate left by 2 positions
rotated_tuple = rotate_tuple_left(my_tuple, n)
print(rotated_tuple)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

Ans.

In [4]:
def rotate_tuple_right(t, n):
    if not t:
        return t  # Return an empty tuple if the input tuple is empty
    n = n % len(t)  # Ensure n is within the range of the tuple length
    return t[-n:] + t[:-n]

# Example usage:
my_tuple = (1, 2, 3, 4, 5)
n = 2  # Rotate right by 2 positions
rotated_tuple = rotate_tuple_right(my_tuple, n)
print(rotated_tuple)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

Ans.

In [5]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]  # Initialize with the first two Fibonacci numbers

    while len(fibonacci_numbers) < n:
        next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_fibonacci)

    return tuple(fibonacci_numbers[:n])

# Generate a tuple of the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

print(first_5_fibonacci)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

Ans.

In [6]:
# Collect user input as a list
user_input = input("Enter a list of values separated by spaces: ")
input_list = user_input.split()

# Convert the list of input values to a tuple
user_tuple = tuple(input_list)

# Display the resulting tuple
print("Tuple created from user input:", user_tuple)

Enter a list of values separated by spaces:  ldkov

Tuple created from user input: ('ldkov',)

43. Swap two elements in a tuple.

Ans.

In [7]:
# Function to swap two elements in a tuple
def swap_elements(t, index1, index2):
    if 0 <= index1 < len(t) and 0 <= index2 < len(t):
        t_list = list(t)  # Convert the tuple to a list
        t_list[index1], t_list[index2] = t_list[index2], t_list[index1]  # Swap the elements
        return tuple(t_list)  # Convert the list back to a tuple
    else:
        return t  # Return the original tuple if indices are out of range

# Example usage:
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = swap_elements(my_tuple, index1, index2)
print(swapped_tuple)

(1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

Ans.

In [1]:
# Function to reverse a tuple
def reverse_tuple(t):
    return t[::-1]

# Example usage:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(my_tuple)
print(reversed_tuple)

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

Ans.

In [2]:
# Function to generate a tuple of the first n powers of 2
def powers_of_2(n):
    return tuple(2 ** i for i in range(n))

# Example usage:
n = 5  # Generate the first 5 powers of 2
powers_tuple = powers_of_2(n)
print(powers_tuple)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

Ans.

In [3]:
# Function to find the longest string in a tuple of strings
def find_longest_string(strings):
    if not strings:
        return None  # Return None if the tuple is empty

    longest = strings[0]  # Initialize with the first string

    for string in strings:
        if len(string) > len(longest):
            longest = string

    return longest

# Example usage:
my_tuple = ("apple", "banana", "cherry", "date", "fig")
longest_string = find_longest_string(my_tuple)

if longest_string is not None:
    print("The longest string is:", longest_string)
else:
    print("The tuple is empty.")

The longest string is: banana

47. Find the shortest string in a tuple of strings.

Ans.

In [4]:
# Function to find the shortest string in a tuple of strings
def find_shortest_string(strings):
    if not strings:
        return None  # Return None if the tuple is empty

    shortest = strings[0]  # Initialize with the first string

    for string in strings:
        if len(string) < len(shortest):
            shortest = string

    return shortest

# Example usage:
my_tuple = ("apple", "banana", "cherry", "date", "fig")
shortest_string = find_shortest_string(my_tuple)

if shortest_string is not None:
    print("The shortest string is:", shortest_string)
else:
    print("The tuple is empty.")

The shortest string is: fig

48. Create a tuple of the first `n` triangular numbers.

Ans.

In [5]:
# Function to generate a tuple of the first n triangular numbers
def generate_triangular_numbers(n):
    if n < 1:
        return ()  # Return an empty tuple for n < 1
    triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]
    return tuple(triangular_numbers)

# Example usage:
n = 5  # Generate the first 5 triangular numbers
triangular_numbers_tuple = generate_triangular_numbers(n)
print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

Ans.

In [7]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    if not sub_tuple:
        return True  # An empty sub_tuple is always considered a subsequence

    if not main_tuple:
        return False  # An empty main_tuple can't contain a subsequence

    # Iterate through the main_tuple to find the subsequence
    i = 0  # Index in main_tuple
    j = 0  # Index in sub_tuple

    while i < len(main_tuple):
        if main_tuple[i] == sub_tuple[j]:
            j += 1
            if j == len(sub_tuple):
                return True  # The entire sub_tuple is found
        i += 1

    return False  # The sub_tuple was not found in main_tuple

# Example usage:
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (3, 4, 5)
if contains_subsequence(main_tuple, sub_tuple):
    print("The sub_tuple is a subsequence of the main_tuple.")
else:
    print("The sub_tuple is not a subsequence of the main_tuple.")

The sub_tuple is a subsequence of the main_tuple.

50. Create a tuple of alternating 1s and 0s of length `n`.

Ans.

In [ ]:
# Function to create a tuple of alternating 1s and 0s of length n
def alternating_ones_and_zeros(n):
    if n <= 0:
        return ()  # Return an empty tuple for n <= 0
    return tuple(i % 2 for i in range(n))

# Example usage:
n = 10  # Create a tuple of length 10 with alternating 1s and 0s
alternating_tuple = alternating_ones_and_zeros(n)
print(alternating_tuple)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

Ans.

In [2]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

Ans.

In [ ]:
# Create a set
my_set = {1, 2, 3}

# Add an element to the set
my_set.add(4)

# The set now contains the added element
print(my_set)  # Output: {1, 2, 3, 4}

3. Remove an element from a set.

Ans.

In [4]:
# Create a set
my_set = {1, 2, 3, 4}

# Remove an element from the set
element_to_remove = 3
my_set.remove(element_to_remove)

# The set no longer contains the removed element
print(my_set)  # Output: {1, 2, 4}

{1, 2, 4}

4. Check if an element exists in a set.

Ans.

In [5]:
# Create a set
my_set = {1, 2, 3, 4}

# Check if an element exists in the set
element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

5. Find the length of a set without using the `len()` function.

Ans.

In [6]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Initialize a counter variable
count = 0

# Iterate through the set and count the elements
for _ in my_set:
    count += 1

# The variable 'count' now holds the length of the set
print("Length of the set:", count)

Length of the set: 5

6. Clear all elements from a set.

Ans.

In [7]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# The set is now empty
print(my_set)  # Output: set()

set()

7. Create a set of even numbers from 1 to 10.

Ans.

In [8]:
# Create a set of even numbers from 1 to 10
even_numbers = {x for x in range(1, 11) if x % 2 == 0}

# Print the set
print(even_numbers)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

Ans.

In [9]:
# Create a set of odd numbers from 1 to 10
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}

# Print the set
print(odd_numbers)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

Ans.

In [ ]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets using the union() method
union_set = set1.union(set2)

# Print the union set
print(union_set)

10. Find the intersection of two sets.

Ans.

In [ ]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the intersection of the two sets using the intersection() method
intersection_set = set1.intersection(set2)

# Print the intersection set
print(intersection_set)

11. Find the difference between two sets.

Ans.

In [ ]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between set1 and set2 using the difference() method
difference_set = set1.difference(set2)

# Print the difference set
print(difference_set)

12. Check if a set is a subset of another set.

Ans

In [1]:
# Create two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2 using the issubset() method
is_subset = set1.issubset(set2)

# Print the result
if is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

13. Check if a set is a superset of another set.

Ans.

In [2]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2 using the issuperset() method
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

14. Create a set from a list.

Ans.

In [3]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a set from the list using the set() constructor
my_set = set(my_list)

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

Ans.

In [4]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list using the list() constructor
my_list = list(my_set)

# Print the list
print(my_list)

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

Ans.

In [5]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set using the pop() method
removed_element = my_set.pop()

# Print the removed element and the updated set
print(f"Removed element: {removed_element}")
print(f"Updated set: {my_set}")

Removed element: 1
Updated set: {2, 3, 4, 5}

17. Pop an element from a set.

Ans.

In [6]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the popped element and the updated set
print(f"Popped element: {popped_element}")
print(f"Updated set: {my_set}")

Popped element: 1
Updated set: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

Ans.

In [7]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the two sets have no elements in common using the isdisjoint() method
are_disjoint = set1.isdisjoint(set2)

# Print the result
if are_disjoint:
    print("The two sets are disjoint and have no elements in common.")
else:
    print("The two sets have at least one element in common.")

The two sets are disjoint and have no elements in common.

19. Find the symmetric difference between two sets.


Ans.

In [8]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the symmetric difference between set1 and set2 using the symmetric_difference() method
symmetric_difference_set = set1.symmetric_difference(set2)

# Print the symmetric difference set
print(symmetric_difference_set)

{1, 2, 6, 7}

20. Update a set with elements from another set.

Ans.

In [ ]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with the elements from set2 using the update() method
set1.update(set2)

# Print the updated set1
print(set1)

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

Ans.

In [10]:
# Create a set of the first 5 prime numbers
prime_numbers = {2, 3, 5, 7, 11}

# Print the set
print(prime_numbers)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

Ans.

In [11]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}

# Check if the two sets are identical using the == operator
are_identical = set1 == set2

# Print the result
if are_identical:
    print("The two sets are identical.")
else:
    print("The two sets are not identical.")

The two sets are identical.

23. Create a frozen set.

Ans.

In [13]:
# Create a regular set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a frozen set using the frozenset() constructor
my_frozen_set = frozenset(my_set)

# Print the frozen set
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

Ans.

In [12]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the two sets are disjoint using the isdisjoint() method
are_disjoint = set1.isdisjoint(set2)

# Print the result
if are_disjoint:
    print("The two sets are disjoint and have no elements in common.")
else:
    print("The two sets are not disjoint and have at least one element in common.")

The two sets are disjoint and have no elements in common.

25. Create a set of squares of numbers from 1 to 5.

Ans.

In [14]:
# Create a set of squares of numbers from 1 to 5
squares_set = {x ** 2 for x in range(1, 6)}

# Print the set
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

Ans.

In [15]:
# Create a set with numbers
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Use a set comprehension to filter out even numbers
filtered_set = {x for x in my_set if x % 2 != 0}

# Print the filtered set
print(filtered_set)

{1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

Ans.

In [17]:
# Create a set with numbers
my_set = {1, 2, 3, 4, 5}

# Use a set comprehension to multiply all elements by 2
multiplied_set = {x * 2 for x in my_set}

# Print the multiplied set
print(multiplied_set)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

Ans.

In [16]:
import random

# Create an empty set to store the random numbers
random_set = set()

# Generate and add random numbers to the set
for _ in range(10):  # Change the range to generate a different number of random numbers
    random_number = random.randint(1, 100)  # Adjust the range as needed
    random_set.add(random_number)

# Print the set of random numbers
print(random_set)

{65, 67, 38, 76, 50, 51, 24, 89, 58, 30}

29. Check if a set is empty.

Ans.

In [18]:
# Create an empty set
empty_set = set()

# Check if the set is empty
if not empty_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

Ans.

In [19]:
# Create a frozenset
nested_frozenset = frozenset({1, 2, 3})

# Create a set containing the frozenset
nested_set = {nested_frozenset}

# Print the nested set
print(nested_set)

{frozenset({1, 2, 3})}

31. Remove an element from a set using the discard method.

Ans.

In [20]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set using the discard() method
element_to_remove = 3
my_set.discard(element_to_remove)

# The set no longer contains the removed element
print(my_set)

{1, 2, 4, 5}

32. Compare two sets.

Ans.

In [1]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Check if the sets are equal
if set1 == set2:
    print("Set1 is equal to Set2")
else:
    print("Set1 is not equal to Set2")

# Check if set1 is a subset of set2
if set1.issubset(set2):
    print("Set1 is a subset of Set2")
else:
    print("Set1 is not a subset of Set2")

# Check if set2 is a subset of set1
if set2.issubset(set1):
    print("Set2 is a subset of Set1")
else:
    print("Set2 is not a subset of Set1")

# Check if set1 is a superset of set2
if set1.issuperset(set2):
    print("Set1 is a superset of Set2")
else:
    print("Set1 is not a superset of Set2")

# Check if set2 is a superset of set1
if set2.issuperset(set1):
    print("Set2 is a superset of Set1")
else:
    print("Set2 is not a superset of Set1")

# Find the union of the two sets
union_set = set1.union(set2)
print("Union of Set1 and Set2:", union_set)

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)
print("Intersection of Set1 and Set2:", intersection_set)

# Find the elements in set1 that are not in set2
difference_set = set1.difference(set2)
print("Elements in Set1 that are not in Set2:", difference_set)

# Find the elements in set2 that are not in set1
difference_set = set2.difference(set1)
print("Elements in Set2 that are not in Set1:", difference_set)

Set1 is not equal to Set2
Set1 is not a subset of Set2
Set2 is not a subset of Set1
Set1 is not a superset of Set2
Set2 is not a superset of Set1
Union of Set1 and Set2: {1, 2, 3, 4, 5, 6, 7}
Intersection of Set1 and Set2: {3, 4, 5}
Elements in Set1 that are not in Set2: {1, 2}
Elements in Set2 that are not in Set1: {6, 7}

33. Create a set from a string.

Ans.

In [2]:
# Create an empty set
char_set = set()

# Input string
input_string = "Hello, World!"

# Iterate through the characters in the string and add them to the set
for char in input_string:
    char_set.add(char)

# Print the set
print("Set created from the string:", char_set)

Set created from the string: {'r', 'e', 'H', ',', 'o', 'd', 'l', 'W', '!', ' '}

34. Convert a set of strings to a set of integers.

Ans.

In [3]:
# Set of strings
string_set = {"10", "20", "30", "40", "50"}

# Create an empty set for integers
int_set = set()

# Iterate through the set of strings and convert them to integers
for s in string_set:
    try:
        integer_value = int(s)
        int_set.add(integer_value)
    except ValueError:
        print(f"Warning: Could not convert '{s}' to an integer.")

# Print the set of integers
print("Set of integers:", int_set)

Set of integers: {40, 10, 50, 20, 30}

35. Convert a set of integers to a set of strings.

Ans.

In [4]:
# Set of integers
int_set = {10, 20, 30, 40, 50}

# Create an empty set for strings
str_set = set()

# Iterate through the set of integers and convert them to strings
for i in int_set:
    string_value = str(i)
    str_set.add(string_value)

# Print the set of strings
print("Set of strings:", str_set)

Set of strings: {'30', '50', '40', '20', '10'}

36. Create a set from a tuple.

Ans.

In [5]:
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a set
my_set = set(my_tuple)

# Print the resulting set
print("Set created from the tuple:", my_set)

Set created from the tuple: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

Ans.

In [6]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

# Print the resulting tuple
print("Tuple created from the set:", my_tuple)

Tuple created from the set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

Ans.

In [7]:
# Example set
my_set = {10, 30, 20, 50, 40}

# Convert the set to a list
my_list = list(my_set)

# Find the maximum value in the list
max_value = max(my_list)

# Print the maximum value
print("Maximum value in the set:", max_value)

Maximum value in the set: 50

39. Find the minimum value in a set.

Ans.

In [8]:
# Example set
my_set = {10, 30, 20, 50, 40}

# Convert the set to a list
my_list = list(my_set)

# Find the minimum value in the list
min_value = min(my_list)

# Print the minimum value
print("Minimum value in the set:", min_value)

Minimum value in the set: 10

40. Create a set from user input.

Ans.

In [9]:
# Collect user input as a comma-separated string
input_string = input("Enter a comma-separated list of elements: ")

# Split the input string into a list
input_list = input_string.split(',')

# Create a set from the list
user_set = set(input_list)

# Print the resulting set
print("Set created from user input:", user_set)

Enter a comma-separated list of elements:  tfgh

Set created from user input: {'tfgh'}

41. Check if the intersection of two sets is empty.

Ans.

In [10]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9}

# Check if the intersection is empty
if set1.isdisjoint(set2):
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is empty.

42. Create a set of the first 5 Fibonacci numbers.

Ans.

In [11]:
# Create an empty set for the Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Generate the first 5 Fibonacci numbers and add them to the set
for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

# Print the set of the first 5 Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

Ans.

In [12]:
# Create a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates using sets
unique_list = list(set(my_list))

# Print the list with duplicates removed
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

Ans.

In [13]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the sets have the same elements
if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

Ans.

In [14]:
# Input the value of n
n = int(input("Enter the value of n: "))

# Create an empty set for the powers of 2
powers_of_2_set = set()

# Generate the first n powers of 2 and add them to the set
for i in range(n):
    power_of_2 = 2 ** i
    powers_of_2_set.add(power_of_2)

# Print the set of the first n powers of 2
print("Set of the first", n, "powers of 2:", powers_of_2_set)

Enter the value of n:  5

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

Ans.

In [15]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Create a list
my_list = [3, 4, 5, 6, 7]

# Find the common elements between the set and the list
common_elements = my_set.intersection(my_list)

# Convert the result to a list if needed
common_elements_list = list(common_elements)

# Print the common elements
print("Common elements:", common_elements_list)

Common elements: [3, 4, 5]

47. Create a set of the first `n` triangular numbers.

Ans.

In [17]:
# Input the value of n
n = int(input("Enter the value of n: "))

# Create an empty set for the triangular numbers
triangular_numbers_set = set()

# Generate the first n triangular numbers and add them to the set
for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
    triangular_numbers_set.add(triangular_number)

# Print the set of the first n triangular numbers
print("Set of the first", n, "triangular numbers:", triangular_numbers_set)

Enter the value of n:  45

Set of the first 45 triangular numbers: {1, 3, 6, 903, 136, 10, 1035, 780, 15, 528, 276, 21, 406, 153, 666, 28, 36, 171, 300, 45, 561, 946, 435, 820, 55, 190, 703, 66, 325, 78, 465, 210, 595, 91, 861, 990, 351, 741, 231, 105, 496, 630, 120, 378, 253}

48. Check if a set contains another set as a subset.

Ans.

In [18]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 5}

# Check if set2 is a subset of set1
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

Ans.

In [19]:
# Input the value of n
n = int(input("Enter the value of n: "))

# Create an empty set for alternating 1s and 0s
alternating_set = set()

# Generate the set of alternating 1s and 0s of length n
for i in range(n):
    value = i % 2  # Alternating between 0 and 1
    alternating_set.add(value)

# Print the set of alternating 1s and 0s
print("Set of alternating 1s and 0s of length", n, ":", alternating_set)

Enter the value of n:  45

Set of alternating 1s and 0s of length 45 : {0, 1}

50. Merge multiple sets into one.

Ans.

In [20]:
# Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge sets into one
merged_set = set1.union(set2, set3)

# Alternatively, you can use the '|' operator to merge sets
# merged_set = set1 | set2 | set3

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}